.cart table{
    width:100%;
    border-collapse: collapse;
}
.cart .product-info{
    display:flex;
    flex-wrap: wrap;
}
.cart th{
    text-align: left;
    padding: 5px 10px;
    color:azure;
    background-color:#856b00d3 ;
}
 .cart td{
    padding:10px 20px;
 }

 .cart td img{
    width:80px;
    height: 80px;
    margin-right: 10px
 }
 .cart td a{
    color:#856b00d3;
 }
 .cart .remove-btn{
    color:#856b00d3;
    text-decoration: none;
    front-size: 15px;
 }
 .cart .edit-btn{
    color:#856b00d3;
    text-decoration: none;
    front-size: 15px;
 }
 .cart .product-info p{
    margin: 3px;
 }
 .cart-total{
    display:flex;
    justify-content: flex-end;
 }
 .cart-total table{
    width:100%;
    max-width:500px;
    border-top: 3px solid #856b00d3 ;
 }
 td:last-child{
    text-align: right;
 }
 th:last-child{
    text-align: right;
 }
 .checkout-container{
    display:flex;
    justify-content: flex-end;
 }
 .checkout-btn{
    background-color: #856b00d3;
    color:aliceblue;
 }
 